<div class="abertura">
  <h2>
    <div style="font-size: 50px">
      Olá, Eureca!
    </div>
    <br>
    Primeiramente gostaria de ressaltar meu entusiasmo por participar do processo seletivo,
    gostaria muito de poder entrar para o time da Eureca. Através desta Lista de Tarefas exponho
    algo sobre mim, pois, além de ser músico,
    programador e apreciador de leitura e diferentes culturas, sou um
    profundo amante das estrelas e admirador da natureza na sua forma mais primitiva.
    Espero que gostem. <br> Fiz com carinho :) <br>
    <button type="button" class=" btn btn" routerLink="/to-do">Ir para Lista de Tarefas!</button>
  </h2>
</div>