<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Adicionar tarefa</label>
    <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="tarefa" name="tarefa" placeholder="Adicionar tarefa">
    <button type="button" class="btn btn-light" (click)="addTarefa()">Adicionar</button>
  </div>
</form>

<ul class="list-group list-group-flush">
  <li *ngFor="let item of tarefas" class="list-group-item">
    <div class="row">
      <p>{{item}}</p>
      <div class="col-3">
        <button class="btn btn-success">Editar</button>
        <button class="btn btn-danger ">Remover</button>
      </div>
    </div>
  </li>
</ul>